.talents_search {
  background: #100c32;
  background-image: url("../images/dist/talents-bg.png");
}

.talents_title {
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  color: #ffffff;
  margin-top: 56px;
}

.search_block {
  margin-top: 28px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.form_search {
  position: relative;
  width: 100%;
  max-width: 384px;
  margin-right: 16px;

  input {
    width: 100%;
    max-width: 384px;
    height: 48px;
    outline: none;
    padding-left: 16px;
    padding-top: 11px;
    padding-bottom: 11px;
    background: #120e44;
    border-image-source: linear-gradient(
                    270.57deg,
                    #f2f2f2 -17.75%,
                    #c730ec 16.33%,
                    #71f1fc 66.85%,
                    #1b1464 99.1%
    );
    border-width: 2pt;
    border-image-slice: 1;
    color: #ffffff;
  }

  input::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #8f9bb3;
  }

  .serch_btn {
    background: transparent;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    width: 45px;
    height: 43px;
    border: none;
    outline: none;
  }

  .serch_btn img {
    margin-top: 5px;
  }
}

.clear_btn {
  width: 72px;
  height: 48px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  background: #222b45;
  border: none;
  outline: none;
}

//TABS


.tabs2 {
  display: flex;
}

.tabs2 li:not(:last-child) {
  margin-right: 7px;
}

.tabs2 li a {
  display: block;
  position: relative;
  top: 4px;
  padding: 10px 25px;
  border-radius: 2px 2px 0 0;
  background: white;
  opacity: 0.7;
  transition: all 0.1s ease-in-out;
}

.tabs2 li.active a,
.tabs2 li a:hover {
  opacity: 1;
  top: 0;
}

.tabs-content {
  position: relative;
  z-index: 2;
  padding: 25px;

}

.tabs-panel2 {
  display: none;
}

.tabs-panel2.active {
  display: block;
}

.tabs-panel2 p + div {
  margin-top: 15px;
}

@media screen and (max-width: 600px) {
  .tabs2 {
    flex-direction: column;
  }

  .tabs2 li {
    width: 100%;
  }

  .tabs2 li:not(:last-child) {
    margin-right: 0;
  }

  .tabs2 li a {
    border-radius: 0;
    opacity: 1;
    top: 0;
  }

  .tabs2 li.active a::before {
    content: "•";
    padding-right: 5px;
  }

  .tabs-content {
    border-radius: 0;
  }
}


.talents_list {
  padding: 48px 0 0;
  background: #0B082A;
}

.talents_tile {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  max-height: 1060px;
  overflow-y: auto;

  &_item {
    position: relative;
    width: calc(33.3333% - 24px);
    height: 419px;
    background: #FFFFFF;
    margin-right: 24px;
    margin-bottom: 24px;

    &:nth-child(3n) {
      margin-right: 0;
    }

    .img {
      position: relative;
      width: 100%;
      max-width: 100%;
      height: auto;
      min-height: 270px;

      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    .title {
      width: 100%;
      height: auto;
      min-height: 121px;
      background: linear-gradient(360deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
      padding: 8px 18px;

      display: flex;
      justify-content: flex-start;
      align-items: flex-end;

      font-style: normal;
      font-weight: bold;
      font-size: 28px;
      line-height: 42px;
      color: #FFFFFF;

      position: absolute;
      left: 0;
      top: 149px;
    }

    .info {
      background: #222B45;
      padding: 16px;
      display: flex;
      flex-wrap: wrap;

      &_name {
        width: 50%;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 28px;
        color: #FFFFFF;
        margin-bottom: 16px;

        span {
          font-weight: 500;
          margin-left: 8px;
        }
      }

      &_age {
        width: 50%;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 28px;
        color: #FFFFFF;
        margin-bottom: 16px;
        display: flex;
        justify-content: flex-end;

        span {
          font-weight: 500;
          margin-left: 8px;
        }
      }

      &_game {
        display: flex;
        align-items: center;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 155%;
        color: #8F9BB3;

        svg {
          margin-right: 8px;
        }
      }
    }

    .social {
      ul {
        display: flex;

        li {
          width: 100%;

          a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 52px;

            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            color: #FFFFFF;

            img {
              margin-right: 2px;
            }
          }
        }
      }
    }
  }
}

.social_media {
  padding: 32px 0 48px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  &_links {
    margin-bottom: 8px;
    display: flex;
    flex-wrap: wrap;
    &_title {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      display: flex;
      align-items: center;
      letter-spacing: 0.05em;
      color: #8F9BB3;
      width: 100%;
    }

    &_link {
      margin-top: 8px;
      margin-right: 8px;
      a {
        width: max-content;
        height: auto;
        min-height: 40px;
        border-radius: 440px;
        border: 1px solid #2E3A59;
        padding: 0 16px 0 8px;
        display: flex;
        justify-content: center;
        align-items: center;

        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        svg {
          margin-right: 8px;
          width: 24px;
          height: 24px;
          border-radius: 24px;
        }
      }
    }
  }
}

.social_media_links_link.youtube.active a {
  border: 1px solid #FF0000;
}

.social_media_links_link.instagram.active a {
  border: 1px solid #D3276F;
}

.social_media_links_link.twitter.active a {
  border: 1px solid #41A0FC;
}

.social_media_links_link.tiktok.active a {
  border: 1px solid #6441A5;
}

.social_media_links_link.twitch.active a {
  border: 1px solid #FFFFFF;
}

.social_media_links_link.lifestyle.active a {
  border: 1px solid #4BB44B;
}

.social_media_links_link.gaming.active a {
  border: 1px solid #6441A5;
}

@media (max-width: 992px){
  .talents_tile_item {
    width: calc(50% - 24px);
    &:nth-child(3n) {
      margin-right: 24px;
    }

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

@media (max-width: 576px){
  .clear_btn {
    position: absolute;
    left: 10px;
    bottom: -32px;
  }

  .social_media {
    flex-direction: column;
    margin-bottom: 60px;
  }

  .talents_tile_item {
    width: 100%;
    &:nth-child(1n) {
      margin-right: 0;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}