.team_title{
    margin-top: 93px;
    margin-bottom: 24px;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    color: #F2F2F2;
    text-transform: uppercase;
}

.team_subtitle{
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 56px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.team_text{
    width: 100%;
    max-width: 891px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
}

.team_face{
    margin-top: 32px;
    margin-bottom: 49px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.big_face{
    width: 100%;
    height: 100%;
    max-width: 788px;
    position: relative;
    margin-right: 9px;
}

.big_face img{
    width: 100%;
    max-width: 792px;
    height: auto;
}

.face_wrap{
    position: absolute;
    max-width: 792px;
    width: 100%;
    height: 99.5%;
    display: flex;
    top: 0;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background: linear-gradient(131.24deg, rgba(143, 233, 244, 0.6) 0%, rgba(217, 20, 244, 0.6) 100.18%);
    transition: .3s ease-in-out;
}


a.face_wrap:hover{
    background: transparent;
    transition: .3s ease-in-out;
}

.face_wrap p{
    font-style: normal;
    color: #FFFFFF;
}

.team_position{
    margin-bottom: 25px;
    font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 28px;
opacity: 0.8;
}

.team_name{
    font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 36px;
color: #FFFFFF;
}

.face_line_one{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // align-items: center;
    margin-bottom: 9px;
}

.face_line_two{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // align-items: center;
    margin-bottom: 9px;
}

.face_line_two .big_face{
    margin-right: 0;
    margin-left: 9px;
}

.small_faces{
    max-width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.small_face{
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 392px;
    margin-bottom: 9px;
}

.small_face img{
    width: 100%;
    height: auto;
}

.face_wrap_small{
    position: absolute;
    max-height: 392px;
    width: 100%;
    height: 99.5%;
    display: flex;
    top: 0;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background: linear-gradient(131.24deg, rgba(143, 233, 244, 0.6) 0%, rgba(217, 20, 244, 0.6) 100.18%);
    transition: .3s ease-in-out;
}

a.face_wrap_small:hover{
    background: transparent;
    transition: .2 ease-in-out;
}

.face_wrap_small p{
    color: #FFFFFF;
}

.small_face:last-child{
    margin-bottom: 0px;
}

.face_line_repeat{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.face_line_repeat > .small_face{
    margin-right: 9px;
}

.face_line_repeat > .small_face:last-child{
    margin-right: 0px;
}

@media (max-width: 767.98px) {
    .face_line_one, .face_line_two{
        flex-direction: column;
    }

    .big_face{
        margin-right: 0px;
        margin-bottom: 9px;
    }

    .face_line_two .big_face{
        margin-left: 0px;
        margin-top: 9px;
        margin-bottom: 0px;
    }

    .small_faces{
        max-width: 100%;    
    }

    .small_face{
        overflow: hidden;    
    }

    .face_wrap_small{
        height: 100%;
    }

    .face_line_repeat{
        flex-direction: column;
        width: 100%;
    }
}

@media (max-width: 575.98px) {
    .team_subtitle{
        font-size: 23px;
    }
}
